{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <section id="header">
                <div class="container mt-5">
                    <h2>Acerce de nosotros!!!</h2>
                        <br>
                        <li>
                            <h3>Ildemaro Carrasco</h3>
                            <h3>Desarrollador backend en Python-Django</h3>
                        </li>
                        <hr>
                        <li>
                            <h3>Ignacio brown</h3>
                            <h3></h3>
                        </li>
                        <hr>
                        <li>
                            <h3>José Enderle</h3>
                            <h3></h3>
                        </li>
                        <hr>
                        <li>
                            <h3>Gabriel Melean</h3>
                            <h3></h3>
                        </li>  
                    </div>   
            </section>
        </div>
    </article>
{% endblock content %}